<div class="container text-center my-5" id="projects"> 
  <h2>Projects</h2>
  <div class="row mt-4">
    <div class="col-md-6 mb-3" *ngFor="let project of projects">
      <div class="p-4 shadow-sm bg-light">
        <div class="project-container">
          <div class="project-card">
            <h3>{{ project.title }}</h3>
            <p>{{ project.description }}</p>
            <div class="project-images">
              <div class="image-with-description">
                <img [src]="project.homeimg" alt="Home">
                <p>Showing the main page where users can search for available workspaces.</p>
              </div>
              
              <div class="image-with-description" *ngFor="let page of project.pages">
                <img [src]="page.pageimg" [alt]="page.imgalt">
                <p>{{ page.pagedes }}</p>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
