.project-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
}

.project-card {
    background-color: white;
    padding: 20px;
    width: 580px;
    height: 550px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    text-align: center;
    overflow-y:auto ;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.project-card p {
    font-size: 1rem;
    font-weight:500;
    color: #555;
}

.project-images img {
    width: 100%;
    /* max-width: 350px; */
    border-radius: 8px;
    object-fit: cover;
    
}