button {
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 10px;
  border: none;
}
button:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px #2f2f2f;
}
input {
  padding: 10px 20px;
  margin-left: 5px;
  border-radius: 10px;
  
}
input:hover {
  transform: translateY(-1px);
  box-shadow: 0 8px 20px #2f2f2f;
}